.nav{
    background-color: rgb(0, 0, 136);
    box-shadow: 0px 0px 15px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}
.nav-lista {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px;
    margin-left: 100px;
}

.nav-item {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: rgb(0, 12, 92);
    transition: all 0.5s ease; 
    border-radius: 5px;
}

.nav-item:hover{
    padding: 15px 18px;
    background: rgb(102, 94, 255);
    border-radius: 5px;
}
.nav-text{
    font-size:medium;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.nav-text:hover{
    color: hsl(237, 100%, 50%);
}
.logo-galvan{
    margin: 10px;
    width: 15vw;
}
.nav-registro {
    width: fit-content;
    padding: 5px;
    margin: 5px 5px 5px 50px ;
    text-align: center;
    background-color: rgb(121, 121, 121);
    transition: all 0.5s ease; 
    border-radius: 5px;
}

.nav-registro:hover{
    padding: 15px 18px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.text-registro{
    font-size:medium;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.text-registro:hover{
    color: hsl(0, 0%, 31%);
}