
.conttitulo{
    width: 100%;
    background-image: url('../public/imagenes/backroundgalvan.jpg');
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7);
}
.tituloprincipal{
    margin-top: 9vw;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 35%;
}
.subtitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: xx-large;
    background-color: rgb(9, 9, 74);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7);
}
.subtituloprincipal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.534);
    font-size: 3vw;
    margin: 10px;
    padding: 10px;
    width: fit-content;
    background-color: rgb(0, 8, 161);
    border-radius: 10px;
}
.contenedornosotros{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.7);
}
.reunion{
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
}
.nosotros{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 89, 255);
    font-size: 3vw;
    text-align: left;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.271);
}
.respuestacont{
    margin: 10px;
    flex-direction: column;
}
.textonosotros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(45, 45, 91);
    margin: 20px;
    text-align: left;
}
.textosoporte{
    display: flex;
    margin: 20px;
    text-align: left;
    color: #f0f8ff;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.563);
}
.imgsoporte{
    margin: 10px;
}
.textosoporte:hover{
    padding: 20px;
    background-color: white;
    color: black;
}
.contenedorprincipales{
    display: flex;
    overflow-x: auto;
    scrollbar-gutter: stable;
    padding: 20px;
}
.contenedorprincipales::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  

}
.contenedorprincipales::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.contenedorprincipales:hover::-webkit-scrollbar-thumb {
    background-color: #09C;
  }
.contventajas{
    align-items: center;
    background-color: #ffffff;
    margin: 25px 10px ;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.775);
    border-radius: 3px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.559);
}
.subventajas{
    text-align: center;
    color: white;
    margin: 30px 5px;
    font-size: 20p;    
}
.contprincipales{
    background-color: #000000;
    border-radius: 3px;
    margin: 25px 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.581);
}
.ventajas{
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    margin-top: 0;
    border-radius: 3px;
}
.textoventajas{
    color: rgb(0, 0, 67);
    text-align: center;
    margin: 10px 10px;
    font-weight:bold;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contservicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contnumeros{
    display: flex;
    background-color: rgb(58, 74, 255);
    width: 60vh;
    border-radius: 5px;
    margin: 10px 5px;
    box-shadow: 10px 10px 0px rgb(66, 70, 168);
}
.contcolumn{
    flex-direction: column;
}
.circulo{
    padding: auto;
}
.numeros{
    top: 0;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 100%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.534);
}
.servicio{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: left;
}
.textoservicio{
    text-align: left;
    margin: 20px 20px;
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: 1000;
}
.trabajo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: xx-large;
    background-color: rgb(9, 9, 74);
    padding: 10px;
    border-radius: 5px;
}
.conttrabajo{
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.481);
    border-radius: 5px;
}
.textotrabajo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(102, 102, 102);
    margin: 30px;
    text-align: justify;
    font-size: small;
}
.tipotrabajo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(102, 102, 102);
    font-size: small;
    text-decoration: underline rgb(0, 0, 255);
    margin: 30px;
    text-align: justify;
    font-weight: 800;
}
.gestion{
    color: #ffffff;
    padding: 10px;
    background-color: #acacac;
    width: fit-content;
}
.titulogalvan{
    color: #000569;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
}
.textogalvan{
    text-align: justify;
    margin: 20px 10px;
    font-size: small;
    font-weight: 700;
}