.inicio {
margin: 80px 20px 20px 20px;
}
.conttitulo{
    width: 100%;
    height: 400%;
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: url('../public/imagenes/backroundgalvan.jpg');
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.tituloprincipal{
    color: blue;
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
    text-align: center;
}
.subtitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: xx-large;
    background-color: rgb(9, 9, 74);
    padding: 10px;
    border-radius: 5px;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.718);
}
.subtituloprincipal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-size: 2.5vw;
    margin: 10px;
}
.contenedornosotros{
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 30px 0px 20px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.692);
}
.reunion{
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
}
.nosotros{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 89, 255);
    font-size: 3vw;
    text-align: left;
}
.respuestacont{
    margin: 10px;
    width: fit-content;
    background-color: rgb(0, 8, 161);
    border-radius: 10px;
}
.textonosotros{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(45, 45, 91);
    margin: 20px;
    text-align: left;
}
.textosoporte{
    text-align: center;
    color: #f0f8ff;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.692);
}
.textosoporte:hover{
    padding: 20px;
    background-color: white;
    color: black;
}
.contenedorprincipales{
    display: flex;
    overflow-x: auto;
    scrollbar-gutter: stable;
    padding: 20px;
}
.contenedorprincipales::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  

}
.contenedorprincipales::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.contenedorprincipales:hover::-webkit-scrollbar-thumb {
    background-color: #09C;
  }
.contventajas{
    height: fit-content;
    background-color: #94c1e8;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}
.ventajas{
    background-color: #ffffff;
    color: #3989cf;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    
}
.contnumeros{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
}
.numeros{
    color: rgb(12, 0, 147);
    margin: 5px;

}
.servicio{
    margin: 5px;
    text-align: center;
    font-size: 2vw;
}
.textoservicio{
    text-align: left;
    margin-left: 5px;
    color: #09C;
}