.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cont-contacto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3a00c1;
    text-align: center;
    margin: 10px;
}
.textarea {
    resize: none;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.boton-enviar {
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(34, 0, 202);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}